<div class="overflow-x-hidden">
    <div class="row p-4 overflow-x-hidden">
        <div class="col-lg-4 col-sm-6" *ngFor="let article of articles">
            <div class="card my-3">
              <div class="card-body">
                <h5 class="card-title" style="color: black">{{ article.title }}</h5>
                <p class="card-text" style="color: black">
                  {{ article.body.substring(0, 100) }}...
                </p>
                <a routerLink="/article/{{article.title}}" class="btn btn-dark">Read More</a>
              </div>
            </div>
          </div>
    </div>
</div>

