<div class="box">
  <div class="row">
    <div class="col-lg-6 text-center my-auto">
        <h2 >Discover the Political World with <span class="discover-the-political-world-with-politiocprophet">Politicoprophet</span></h2>
        <p id="typed-element"></p>
    </div>
    <div class="phone-image-div col-lg-6">
      <img class="Phone-image" src="https://wallpaperbat.com/img/145096-digital-doodles-smart-pens-re-writing-how-we-use-paper-wallpaper.jpg" alt="iphone-mockup" height="700px" />
    </div>
  </div>
</div>



<!-- 2nd section of popular blogs -->
<div class="p-4 p-md-5 mb-4 mt-10 text-white rounded bg-black">
    <h1 class="display-4 fst-italic">Welcome to Politicoprophet</h1>
    <p class="lead my-3">
      Stay Informed, Get Engaged, and Explore Politics with Politicoprophet - your trusted source for political news, insights, analysis, and discussions.
    </p>
    <p>
      Our platform provides up-to-date coverage of local, national, and international political events, delivering accurate and reliable information straight to your fingertips.
    </p>
    <p>
      Dive deep into the complex world of politics through our thought-provoking articles, opinion pieces, and expert commentary. Join the conversations happening in our vibrant community, where passionate individuals discuss important issues shaping the political landscape.
    </p>
    <p>
      Whether you're a political enthusiast, student, policymaker, or concerned citizen, Politicoprophet is your go-to destination for staying informed, engaging with others, and gaining valuable insights into the world of politics.
    </p>
    <p class="lead mb-0">
      <a routerLink="/blogs" class="text-white fw-bold">Start Exploring</a>
    </p>
  </div>
  